<p-toast></p-toast>
<p-card header="Tải lên tài liệu OCR">
  <p>Tải lên tài liệu quét hoặc hình ảnh để trích xuất OCR.</p>
  
  <p-fileUpload 
    name="ocrFile[]" 
    [customUpload]="true"
    (uploadHandler)="onUpload($event)" 
    [multiple]="true" 
    accept="image/*,application/pdf" 
    maxFileSize="10000000"
    chooseLabel="Chọn tệp"
    uploadLabel="Tải lên"
    cancelLabel="Hủy"
    styleClass="mt-4">
    
    <ng-template pTemplate="content">
        <ul *ngIf="false"></ul>
    </ng-template>
  </p-fileUpload>
</p-card>
